<main class="container" style="margin: 5px 0">
  <div class="row">
    <section>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <h3 class="text-center">Reactive Form</h3>
        <div class="projectName">
          <label for="projectName" class="form-label">Project name</label>
          <input
            type="text"
            name="name"
            id="projectName"
            class="form-control"
            formControlName="projectName"
          />
          <span
            *ngIf="
              myForm.get('projectName').touched &&
              myForm.get('projectName').invalid
            "
          >
            <span *ngIf="myForm.get('projectName').errors['required']">
              Project name is required!
            </span>
            <span
              *ngIf="myForm.get('projectName').errors['invalidNameProject']"
            >
              Test project name is invalid!
            </span>
          </span>
        </div>
        <div class="email">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            name="email"
            id="email"
            class="form-control"
            formControlName="email"
          />
          <span
            *ngIf="myForm.get('email').touched && myForm.get('email').invalid"
          >
            <span *ngIf="myForm.get('email').errors['required']">
              Email is required!
            </span>
            <span *ngIf="myForm.get('email').errors['email']">
              Invalid email!
            </span>
          </span>
        </div>
        <div class="projectStatus">
          <label for="projectStatus" class="form-label">Project status</label>
          <select
            name="status"
            id="projectStatus"
            class="form-select"
            formControlName="status"
          >
            <option value="stable">stable</option>
            <option value="critical">critical</option>
            <option value="finished">finished</option>
          </select>
        </div>
        <div class="addTask" formArrayName="tasks">
          <button
            class="btn btn-dark form-control"
            style="margin-top: 10px"
            type="button"
            (click)="addTask()"
          >
            Add task
          </button>
          <div class="tasks" *ngFor="let task of tasks; let i = index">
            <label for="task">Task: {{ i + 1 }}</label>
            <input
              type="text"
              id="task"
              class="form-control"
              [formControlName]="i"
            />
          </div>
        </div>
        <button
          class="btn btn-dark form-control"
          type="submit"
          style="margin: 10px 0"
          [disabled]="myForm.invalid"
        >
          Submit
        </button>
      </form>
    </section>
  </div>
</main>

